<div class="container">
	<div class="content">
		<div class="title">Criar conta</div>
		<span>Sua empresa na palma da mão</span>

		<form>
			<div class="input-name">
				<input type="text" placeholder="Primeiro nome">
				<input type="text" placeholder="Segundo nome">
			</div>
			<div class="input-content">
				<input type="email" placeholder="Email">
				<input type="password" placeholder="Senha">
				<input type="password" placeholder="Confirmar senha">
			</div>
			<button>Criar</button>
		</form>
		<span>Usar email de sua preferência</span>
		<div class="login-icons">
			<img src="assets/google.png" alt="Google login">
			<img src="assets/microsoft.png" alt="Ms login">
		</div>
		<h6>Faça o teste gratuito por 15 dias sem necessidade
			de cartão de crédito. </h6>
	</div>
</div>