<div class="container">
	<div class="nav">
		<div class="logo">
			<a href="/">
				<img src="/assets/logo.png" alt="">
			</a>
		</div>
		<div class="side-nav-buttons">
			<a href="#">
				<img src="" alt="">
				<fa-icon [icon]="faChartBar"></fa-icon>
				Dashboard
			</a>
			<a href="home/database">
				<img src="" alt="">
				<fa-icon [icon]="faDatabase"></fa-icon>
				Base de dados

			</a>
			<a href="#">
				<img src="" alt="">
				<fa-icon [icon]="faCogs"></fa-icon>
				Configuração
			</a>
			<a href="#">
				<img src="" alt="">
				<fa-icon [icon]="faSignOutAlt"></fa-icon>
				Sair
			</a>
		</div>
	</div>
	<div class="suport-card">
		<img src="/assets/suport.png" alt="">
		<button>
			Contactar suporte
		</button>
	</div>
</div>