<div class="content">
    <h2>Selecione uma base de dados</h2>
    <div class="cards">
        <app-card-data-base></app-card-data-base>    
        <app-card-data-base></app-card-data-base>    
        <app-card-data-base></app-card-data-base>    
        <app-card-data-base></app-card-data-base>    
        <app-card-data-base></app-card-data-base>    
        <app-card-data-base></app-card-data-base>    
        <app-card-data-base></app-card-data-base>    
        <app-card-data-base></app-card-data-base>    
        <app-card-data-base></app-card-data-base>    
        <app-card-data-base></app-card-data-base>    
        <app-card-data-base></app-card-data-base>    
        <app-card-data-base></app-card-data-base>    
        <app-card-data-base></app-card-data-base>    
        <app-card-data-base></app-card-data-base>    
        <app-card-data-base></app-card-data-base>    
         
           
    </div>
</div>