<div class="container">
	<app-side-nav></app-side-nav>
	<div class="content">
		<app-header></app-header>
		<app-welcome-box></app-welcome-box>
		<h2>Selecione uma base de dados</h2>
		<div class="cards">
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			<app-card-data-base></app-card-data-base>
			

		</div>
	</div>
</div>