.container {
    display: flex;
    justify-content: space-between;


    /* margin-left: 300px;
    background-color: red; */

}
.box-router {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;


}

