.container {
    display: flex;
    justify-content: space-between;

    /* margin-left: 300px;
    background-color: red; */

}
.box-router {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

