.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFF;
    transition: all ease 0.5s;
    
}



.container .img {
    width: 100%;
}

.container .img img {
    height: 100%;
    width: 100%;
}

.container .title {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.container button {
    border: none;
    border-radius: 5px;
    background-color: #5232AE;
    color: #FFF;
    padding: 5px;
    margin: 10px 15px;
    font-size: 18px;
    cursor: pointer;
}

.container button:hover {
    background-color: #A38EE0;
}