/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #DEDEED;
    margin: 0;
    height: 100%;
    position: relative;
}

html {
    height: 100%;
}